{% extends "layout.html" %}
{% block content %}
	
	<div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img" src="{{ image_file }}">
	    <div class="media-body">
	      <h2 class="account-heading">{{ current_user.username }}</h2>					{# Display current user username using session #}
	      <p class="text-secondary">{{ current_user.email }}</p>
	      <h2 class="text-secondary">{{ current_user.points }} Points</h2>
	    </div>
	  </div>
			<form method="POST" action="" enctype="multipart/form-data"> 				{# need a special encod type to support image #}
				{{ form.hidden_tag() }}   															{#This line of code secure our form like the secure key#}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Account Info</legend>
					<div class="form-group">
						{{ form.username.label(class="form-control-label") }}

						{% if form.username.errors %} 												{#Look if they are errors in our field#}
							{{ form.username(class="form-control form-control-lg is-invalid") }} 	
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span>{{ error }}</span>										{# Display all current errors #}
								{% endfor %}
							</div>
						{% else %}
							{{ form.username(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.email.label(class="form-control-label") }}

						{% if form.email.errors %} 												{#Look if they are errors in our field#}
							{{ form.email(class="form-control form-control-lg is-invalid") }} 	
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>										{# Display all current errors #}
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.picture.label() }}
						{{ form.picture(class="form-control-file") }} 								{# picture field #}
						{% if form.picture.errors %}
						{% for error in form.picture.errors %}
							<span>{{ error }}</span></br> 								{# Display an error if the form field give an error #}
						{% endfor %}
						{% endif%}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
			<h3>Vos questions</h3>
			{% for question in questions %}
			{% if question.author.id == current_user.id %}
				<article class="media content-section">
				  	<div class="media-body">
					    <div class="article-metadata">
					    <small class="text-muted">{{ question.date_posted.strftime('%Y-%m-%d') }}</small>
					    </div>
					    <p>Question : </p>
					    <h3><a class="article-title" href="#">{{ question.content }}</a></h3>
					    <p>Réponse : </p>
					    <h3>{{ question.response }}</h3>
					    <p class="article-content">{{ question.points }} Points</p>
					</div>
				</article>
		    {% endif %}
		    {% endfor %}

	</div>
{% endblock %}
