{% extends "layout.html" %}
{% block content %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + question.author.image_file) }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ question.author.username }}</a>
		      <small class="text-muted">{{ question.date_posted.strftime('%Y-%m-%d') }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ question.content }}</a></h2>
		    <p class="article-content">{{ question.points }} Points</p>
		  </div>
		</article>
		  <form method="POST" action="">
			{{ form.hidden_tag() }}   															{#This line of code secure our form like the secure key#}
			<fieldset class="form-group">
				<div class="form-group">
					{{ form.answer.label(class="form-control-label") }}

					{% if form.answer.errors %} 												{#Look if they are errors in our field#}
						{{ form.answer(class="form-control form-control-lg is-invalid") }} 	
						<div class="invalid-feedback">
							{% for error in form.answer.errors %}
								<span>{{ error }}</span>										{# Display all current errors #}
							{% endfor %}
						</div>
					{% else %}
						{{ form.answer(class="form-control form-control-lg") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
{% endblock %}
