{#extends the layout page to use the doctype inside#}
{% extends "layout.html" %}
{#block content start, this block allows us to place this code inside the same block of the layout page#}
{% block content %}
	<h1>Questions</h1>
	{% for question in questions %}
		{% if question.author.id != current_user.id %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + question.author.image_file) }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{{ url_for('user_profile', id=question.author.id) }}">{{ question.author.username }}</a>
		      <small class="text-muted">{{ question.date_posted.strftime('%Y-%m-%d') }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ question.content }}</a></h2>
		    <p class="article-content">{{ question.points }} Points</p>
		    <h3><a href="{{ url_for('answer_question', id=question.id) }}">Answer</a></h3>
		  </div>
		</article>
		{% endif %}
	{% endfor %}
{% endblock %}