{% extends "layout.html" %}
{% block content %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + question.author.image_file) }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ question.author.username }}</a>
		      <small class="text-muted">{{ question.date_posted.strftime('%Y-%m-%d') }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ question.content }}</a></h2>
		    <p class="article-content">{{ question.points }} Points</p>
		  </div>
		</article>
</article>
{% endblock %}
