{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
	    <div class="media-body">
	      <h2 class="account-heading">{{ user.username }}</h2>					{# Display current user username using session #}
	      <p class="text-secondary">{{ user.email }}</p>
	      <h2 class="text-secondary">{{ user.points }} Points</h2>
	    </div>
	  </div>
{% endblock %}
